@model URLRedirect.DAL.fruit

@{
    ViewBag.Title = "Details = Fruit";
}

<h2>Details</h2>

<fieldset>
    <legend>Fruit</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Color)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Color)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.FruitID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
